@{
    ViewData["Title"] = "About This Fine Establishment";
}
<div class="home">
    <h1>@ViewData["Title"]</h1>

    <p>Gain knowledge and experience in your career or studies from your laptop.</p>
    <p>Distributed platforms: Windows, Apple, Linux, Apple Vision, Holodeck.</p>
</div>

