@{
    ViewData["Title"] = "Contact";
}
<div class="home">
    <div id="container">
        <h1>@ViewData["Title"]</h1>

        <p>Email: customer.service@majorgamer.ca</p>
        <p>Telephone: +519 192 7272</p>
        <p>Address: 216 9th Line Avenue, Toronto, Canada MAG 1K1</p>
    </div>
</div>
