@{
    ViewData["Title"] = "Contact";
}
<div class="home">
    <div id="container">
        <h1>@ViewData["Title"]</h1>

        <p>Email: customer.service@majorgamer.ca</p>
        <p>Telephone: +519 192 0361</p>
        <p>Address: 216 3rd Line Avenue, Toronto, Canada M4G 1K9</p>
    </div>
</div>
