@{
    ViewData["Title"] = "Browse " + Model.Name;
}
<h1>@ViewData["Title"]</h1>
<h1>Browse @Model.Name </h1>
<!--<h1>Browse2 'at"ViewBag.Category </h1>--> <!--viewbag passes data from model to view-->
